In [1]:
import pandas as pd

df = pd.read_csv('PYPL.dat')
df.shape

(841, 6)

In [2]:
df.head()

         date  1. open  2. high  3. low  4. close   5. volume
0  2015-07-20    41.46  42.5500   39.80     40.47  52286509.0
1  2015-07-21    41.08  41.1100   39.12     39.35  32954573.0
2  2015-07-22    39.35  39.7178   38.10     38.39  25380859.0
3  2015-07-23    38.74  38.7500   36.93     37.01  19250154.0
4  2015-07-24    37.71  38.0000   36.91     37.00  14274305.0

In [2]:
from extlibs  import ta2 

close = df['4. close']
dr = ta2.daily_return(close, fillna=True)
dr.head()

0    0.000000
1   -2.767482
2   -2.439644
3   -3.594686
4   -0.027020
Name: d_ret, dtype: float64