In [5]:
import pandas as pd

df = pd.read_csv('PYPL.dat')
df

           date  1. open  2. high   3. low  4. close   5. volume
0    2015-07-20    41.46  42.5500  39.8000     40.47  52286509.0
1    2015-07-21    41.08  41.1100  39.1200     39.35  32954573.0
2    2015-07-22    39.35  39.7178  38.1000     38.39  25380859.0
3    2015-07-23    38.74  38.7500  36.9300     37.01  19250154.0
4    2015-07-24    37.71  38.0000  36.9100     37.00  14274305.0
5    2015-07-27    36.78  37.3800  36.2200     36.39  16179913.0
6    2015-07-28    37.19  38.0000  36.8296     37.60  18986016.0
7    2015-07-29    38.03  38.1000  37.6200     37.95  11788439.0
8    2015-07-30    38.04  39.0100  37.7150     38.45  13845091.0
9    2015-07-31    39.14  39.2000  38.2199     38.70  12480580.0
10   2015-08-03    39.25  39.8800  38.9000     39.39  15126574.0
11   2015-08-04    39.91  39.9100  38.4300     38.95  10992217.0
12   2015-08-05    39.70  39.8800  39.1700     39.27   9349565.0
13   2015-08-06    39.63  39.7400  38.5500     38.85   7324116.0
14   2015-08-07    39.04  39.2300  38.6000     39.13   8331310.0
15   2015-08-10    39.43  39.6900  38.7701     39.05   7998929.0
16   2015-08-11    38.93  39.2800  38.7200     38.85   8184004.0
17   2015-08-12    38.55  38.5800  37.0100     38.19  21366670.0
18   2015-08-13    38.40  38.4900  37.4400     37.62   7863525.0
19   2015-08-14    37.49  38.1800  37.3800     38.14   6271143.0
20   2015-08-17    38.30  38.7500  37.7000     38.73   4931711.0
21   2015-08-18    39.00  39.0000  37.8700     37.99   4678847.0
22   2015-08-19    37.87  38.1000  37.0300     37.19   6923402.0
23   2015-08-20    36.85  37.3400  35.8800     35.98  10645667.0
24   2015-08-21    35.57  36.1100  33.8300     34.25  16824144.0
25   2015-08-24    31.17  34.8500  30.0000     33.75  19676580.0
26   2015-08-25    35.44  35.4600  32.7000     32.70  15557082.0
27   2015-08-26    33.70  33.8400  31.7100     33.17  25350364.0
28   2015-08-27    34.00  34.7700  33.1600     34.62  18909574.0
29   2015-08-28    34.51  35.2600  34.3700     35.04   8344820.0
..          ...      ...      ...      ...       ...         ...
811  2018-10-05    84.21  84.8400  82.3200     83.18  10735779.0
812  2018-10-08    82.62  82.8900  78.6500     80.55  16872156.0
813  2018-10-09    80.65  81.8400  79.4400     80.03   9332600.0
814  2018-10-10    79.61  79.9100  75.3200     75.45  16920253.0
815  2018-10-11    76.81  77.7850  74.6600     75.90  21010646.0
816  2018-10-12    79.12  79.6000  77.7900     79.03  14131406.0
817  2018-10-15    78.88  79.1400  77.2200     77.23   8481098.0
818  2018-10-16    78.85  80.9100  78.4600     80.61  10059964.0
819  2018-10-17    81.19  81.3900  79.5000     80.09  10022637.0
820  2018-10-18    80.17  80.4400  77.3600     77.48  19748527.0
821  2018-10-19    83.75  86.1700  82.9200     84.78  34211905.0
822  2018-10-22    84.86  86.2300  83.5711     85.43  11254755.0
823  2018-10-23    83.20  87.8000  82.9900     87.57  14753761.0
824  2018-10-24    87.04  87.6900  83.0100     83.09  14754551.0
825  2018-10-25    84.24  86.5100  83.5600     85.96   9267622.0
826  2018-10-26    83.22  85.6600  82.1800     83.37  13969414.0
827  2018-10-29    84.74  85.2400  78.9900     81.15  12918820.0
828  2018-10-30    80.33  81.9600  79.4200     80.90  13100808.0
829  2018-10-31    82.37  85.3500  82.3000     84.19  11191843.0
830  2018-11-01    84.18  85.1500  83.5700     85.04   5952606.0
831  2018-11-02    85.46  86.1040  82.6500     83.51   7014351.0
832  2018-11-05    83.33  84.2500  82.2500     84.05   4622289.0
833  2018-11-06    84.10  85.3100  83.7200     84.69   4662485.0
834  2018-11-07    85.86  88.4900  85.7300     88.23   8672013.0
835  2018-11-08    87.70  89.0600  87.6800     89.04   7539282.0
836  2018-11-09    88.45  88.4500  85.5500     86.76   9105908.0
837  2018-11-12    86.17  86.6500  83.3000     83.78   6278185.0
838  2018-11-13    84.12  85.2290  83.1600     83.78   4731289.0
839  2018-11-14    84.98  85.1400  83.0700     84.05   6678468.0
840  2018-11-15    83.79  87.0900  83.6000     86.74   9779650.0

[841 rows x 6 columns]

In [14]:
from extlibs  import ta2 

close = df['4. close']
dr = ta2.daily_return(close, fillna=True)
dr

0      0.000000
1     -2.767482
2     -2.439644
3     -3.594686
4     -0.027020
5     -1.648649
6      3.325089
7      0.930851
8      1.317523
9      0.650195
10     1.782946
11    -1.117035
12     0.821566
13    -1.069519
14     0.720721
15    -0.204447
16    -0.512164
17    -1.698842
18    -1.492537
19     1.382243
20     1.546932
21    -1.910664
22    -2.105817
23    -3.253563
24    -4.808227
25    -1.459854
26    -3.111111
27     1.437309
28     4.371420
29     1.213172
         ...
811   -1.375385
812   -3.161818
813   -0.645562
814   -5.722854
815    0.596421
816    4.123847
817   -2.277616
818    4.376538
819   -0.645081
820   -3.258834
821    9.421786
822    0.766690
823    2.504975
824   -5.115907
825    3.454086
826   -3.013029
827   -2.662828
828   -0.308071
829    4.066749
830    1.009621
831   -1.799153
832    0.646629
833    0.761452
834    4.179950
835    0.918055
836   -2.560647
837   -3.434763
838    0.000000
839    0.322273
840    3.200476
Name: d_ret, Length: 841, dtype: float64